<template>
  <div class="">
    <!-- search input -->
    <section id="knowledge-base-search">
      <b-card
        no-body
        class="knowledge-base-bg text-center"
        :style="{backgroundImage: `url(${require('@/assets/images/banner/banner_new.png')})`}"
      >
        <b-card-body class="card-body">
          <h2 class="text-primary">
            TikTok Song Recognition
          </h2>
          <b-card-text class="mb-2">
            <span>Paste Tiktok video url to find out the name of the song: </span>
            <br/>
            <span class="font-weight-bolder">https://www.tiktok.com/foryou?is_copy_url=1&is_from_webapp=v1</span>
          </b-card-text>

          <!-- form -->
          <b-form class="kb-search-input">
            <b-input-group class="input-group-merge">
              <b-input-group-prepend is-text>
                <feather-icon icon="SearchIcon" />
              </b-input-group-prepend>
              <b-form-input
                id="searchbar"
                v-model="knowledgeBaseSearchQuery"
                placeholder="Analyze Audio"
              />
              <b-input-group-append>
                <b-button variant="primary" class="m1-4" @click="analyze">Analyze</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form>
          <!-- form -->
        </b-card-body>
      </b-card>
    </section>
    <!--/ search input -->

    <section id="knowledge-base-content" class="container" >

      <!-- content -->
      <b-row class="kb-search-content-info match-height"  v-if="showable">
        <b-col
        
         b-col md="6" offset-md="3"
          class="kb-search-content"
          
        >
       <b-card
            no-body
            class="card-apply-job bg-gradient-primary"
          >
            <b-card-header class="pb-1">
              <b-media no-body>
                <b-media-aside class="mr-1">
                  <b-avatar  variant="primary" rounded
                  size="42">
                    <feather-icon
                      size="18"
                      icon="CheckIcon"
                    />
                  </b-avatar>
                </b-media-aside>
                <b-media-body>
                  <h5 class="mb-0 text-white">
                    {{ data.result.title }}
                  </h5>
                  <small class="text-white">{{data.result.artist }}</small>
                </b-media-body>
              </b-media>
              <b-badge
                pill
                variant="danger"
              >
                Result
              </b-badge>
            </b-card-header>
            
          </b-card>
        </b-col>
        
        
      </b-row>
      <b-row v-show="error">
        <b-col
          
          cols="12"
          class="text-center"
        >
          <h4 class="mt-4">
           Sorry, we couldn't find a match.
          </h4>
        </b-col>
      </b-row>
    </section>

    <b-modal
    ref="video-ad-modal"
    no-close-on-backdrop
    no-close-on-esc
    :cancel-disabled="true"
    :ok-disabled="true"
    :ok-only="false"
    ok-title="See Results"
    :hide-footer="true"
    :hide-header-close="true"
    >
      <b-embed
        type="iframe"
        aspect="16by9"
        src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
        allowfullscreen
      ></b-embed>
    </b-modal>
  </div>
</template>

<script>
import {
  BRow, BCol, BCard, BCardBody, BForm, BInputGroup, BFormInput, BCardText, BInputGroupPrepend,
  BButton, BInputGroupAppend, BMedia, BMediaAside, BAvatar, BAvatarGroup, BMediaBody, BCardTitle, BImg,
  BBadge, BCardHeader, BModal, VBModal, BEmbed
} from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import axios from 'axios'
import axiosIns from '@/libs/axios'
export default {
  components: {
    BRow,
    BCol,
    BCard,
    BCardBody,
    BCardText,
    BForm,
    BInputGroup,
    BInputGroupPrepend,
    BFormInput, BButton, BInputGroupAppend, BMedia, BMediaAside, BAvatar, BAvatarGroup, BMediaBody, BCardTitle
    , BImg, BBadge, BCardHeader, BModal, BEmbed
  },
  directives: {
    Ripple,
    'b-modal': VBModal,
  },
  data() {
    return {
      knowledgeBaseSearchQuery: '',
      kb: [],
      showable: false,
      data: [],
      error: false,

    }
  },
  computed: {
    filteredKB() {
      const knowledgeBaseSearchQueryLower = this.knowledgeBaseSearchQuery.toLowerCase()
      return this.kb.filter(item => item.title.toLowerCase().includes(knowledgeBaseSearchQueryLower) || item.desc.toLowerCase().includes(knowledgeBaseSearchQueryLower))
    },
  },
  created() {
    
  },
  methods: {
    analyze() {

      this.showable = false;
     


      axiosIns.get('/index', {
        params: { 
          url: this.knowledgeBaseSearchQuery
        }
      }).then( response => {
        console.log(response.data.music[0]);
         
            this.error = false;
           this.$refs['video-ad-modal'].show();
          setTimeout(() => {
            this.$refs['video-ad-modal'].hide();
            this.showable = true;
          }, 10 * 1000);
          let data = {
            'api_token' : 'b7237fb122a61f7b26875d5afafd663c',
            'url' : response.data.music[0],
            'return' : 'musicbrainz,apple_music,spotify,deezer,napster'
          };

          axios({
            method: 'post',
            url: 'https://api.audd.io/',
            data: data,
            headers: { 'Content-Type' : 'multipart/form-data' },
          })
          .then((auddi_response) => {
           
            if(auddi_response.data.result === null) {
              this.error = true;
            } else {
              console.log(auddi_response.data);
               this.data = auddi_response.data;
            }
            
          }).catch((error) => {
            console.log(error);
          });
      }).catch(error => {
        this.error = true;
        console.log("error");
      }); 

    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-knowledge-base.scss';

</style>
